<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574340220712-o2musqqno7k743no3kpbspscdqbdclhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574340220712-o2musqqno7k743no3kpbspscdqbdclhe</string>
	<key>API_KEY</key>
	<string>AIzaSyBvgS27pFGN5EqMOiFyxwTzfZQeKDBbxhw</string>
	<key>GCM_SENDER_ID</key>
	<string>574340220712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourdomain.yourAppClass</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-f6813</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-f6813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574340220712:ios:362c84604e826cfabdf21d</string>
</dict>
</plist>